.btn {
  background-color: var(--background-secondary);
  color: var(--text);
  border: 1px solid var(--border-color);
  cursor: pointer;
  padding: 8px;
}

/* Theme Icons */
.icon {
  width: 24px;
  height: 24px;
}

.dark {
  color: var(--accent-white);
}

.light {
  color: var(--accent-orange);
}
