:root {
  /* Equivalent to the default theme(dark) */
  --background: #0b1622;
  --background-secondary: #152232;
  --text: #9fadbd;
  --text-secondary: #8596a5;

  /* Random colors, why not */
  --accent-sea: #29a6ff;
  --accent-red: #ff5e5e;
  --accent-green: #00d9a5;
  --accent-yellow: #ffcc00;
  --accent-purple: #a66dff;
  --accent-blue: #00a6ff;
  --accent-orange: #ff8c00;
  --accent-pink: #ff5eaa;
  --accent-cyan: #00d9d9;
  --accent-lime: #a6ff00;
  --accent-brown: #a66d00;
  --accent-gray: #5c728a;
  --accent-white: #edf0f4;
  --accent-violet: #a600ff;

  /* Fonts */
  --nunito: "Nunito";
  --paytone: "Paytone One";

  /* Shadows */
  --shadow-color: 286deg 36% 56%;
  --shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
}

/* Light Theme */
:root,
html[data-theme="light"] {
  --background: #edf1f5;
  --background-secondary: #fafafa;
  --text: #5c728a;
  --text-secondary: #9299a1;
}

/* Dark Theme */
:root,
html[data-theme="dark"] {
  --background: #0b1622;
  --background-secondary: #152232;
  --text: #9fadbd;
  --text-secondary: #8596a5;
}

body {
  --primary-font: var(--nunito), sans-serif;
  --title-font: var(--paytone), sans-serif;
  --app-min-width: 350px;

  background-color: var(--background);
  color: var(--text);
  font-family: var(--primary-font);
  min-width: var(--app-min-width);
}
