:root {
  /* Equivalent to the default theme(dark) */
  --background: #0b1622;
  --background-secondary: #152232;
  --text: #9fadbd;
  --text-secondary: #8596a5;

  /* Random colors, why not */
  --accent-sea: #29a6ff;
  --accent-red: #ff5e5e;
  --accent-green: #00d9a5;
  --accent-yellow: #ffcc00;
  --accent-purple: #a66dff;
  --accent-blue: #00a6ff;
  --accent-orange: #ff8c00;
  --accent-pink: #ff5eaa;
  --accent-cyan: #00d9d9;
  --accent-lime: #a6ff00;
  --accent-brown: #a66d00;
  --accent-gray: #5c728a;
  --accent-white: #edf0f4;
  --accent-violet: #a600ff;

  /* Fonts */
  --nunito: "Nunito";
  --paytone: "Paytone One";

  /* Shadows */
  --shadow-color: 286deg 36% 0%;
  --shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);

  --shadow-hover: 0px 0.2px 0.3px hsl(var(--shadow-color) / 0),
    0px 2.7px 4.1px hsl(var(--shadow-color) / 0.04),
    0.1px 5.2px 7.8px hsl(var(--shadow-color) / 0.09),
    0.1px 9.1px 13.7px hsl(var(--shadow-color) / 0.13),
    0.2px 16px 24px hsl(var(--shadow-color) / 0.17);
}

/* Light Theme */
:root,
html[data-theme="light"] {
  --background: #edf1f5;
  --background-secondary: #fafafa;
  --text: #5c728a;
  --text-secondary: #9299a1;
}

/* Dark Theme */
:root,
html[data-theme="dark"] {
  --background: #0b1622;
  --background-secondary: #152232;
  --text: #9fadbd;
  --text-secondary: #8596a5;

  --shadow-color: 286deg 36% 0%;

  --shadow-hover: 0px 0.5px 0.8px hsl(var(--shadow-color) / 0),
    0px 3.2px 4.8px hsl(var(--shadow-color) / 0.01),
    -0.1px 5.5px 8.3px hsl(var(--shadow-color) / 0.02),
    -0.1px 7.7px 11.6px hsl(var(--shadow-color) / 0.03),
    -0.1px 10.2px 15.3px hsl(var(--shadow-color) / 0.04),
    -0.2px 13.1px 19.7px hsl(var(--shadow-color) / 0.05),
    -0.2px 16.9px 25.4px hsl(var(--shadow-color) / 0.06),
    -0.3px 21.8px 32.7px hsl(var(--shadow-color) / 0.08),
    -0.4px 28px 42px hsl(var(--shadow-color) / 0.09),
    -0.5px 35.9px 53.9px hsl(var(--shadow-color) / 0.1);
}

body {
  --primary-font: var(--nunito), sans-serif;
  --title-font: var(--paytone), sans-serif;
  --app-min-width: 350px;

  background-color: var(--background);
  color: var(--text);
  font-family: var(--primary-font);
  min-width: var(--app-min-width);
}
